# Merged by LazyMonorepo
APScheduler
Babel==2.8.0
Brlapi==0.8.3
Brotli==1.0.9
Flask
Flask==3.1.0
GitPython
Glances==3.2.4.2
Gooey==1.0.8.1
Jinja2==3.1.6
MarkupSafe==3.0.2
PyGObject==3.42.1
PyJWT==2.3.0
PyNaCl==1.5.0
PyYAML
PyYAML==5.4.1
PyYAML>=6.0,<7.0
Pygments==2.19.1
SecretStorage==3.3.1
Werkzeug==3.1.3
aiohttp
annotated-types==0.7.0
ansible-core==2.12.0
anyio==4.9.0
apache-libcloud==3.2.0
appdirs==1.4.4
argcomplete==3.6.2
arrow==1.3.0
asyncio
attrs==21.2.0
awscli==1.22.34
bcc==0.18.0
beautifulsoup4
beautifulsoup4==4.10.0
beniget==0.4.1
binaryornot==0.4.4
black
bleach
blinker==1.9.0
botocore==1.23.34
bottle==0.12.19
cachetools==5.5.2
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.1
choice==0.1
chroma-hnswlib
chrome-gnome-shell==0.0.0
click==8.1.8
cockpit @ file:///build/cockpit-1HgzFR/cockpit-333/tmp/wheel/cockpit-333-py3-none-any.whl
colorama==0.4.4
colored==2.3.0
command-not-found==0.3
commonmark==0.9.1
confirm==0.1.3
cookiecutter==2.6.0
cryptography
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.4
distro==1.9.0
dnspython
dnspython==2.1.0
docker
docker-compose==1.29.2
docker==7.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.21.2
exceptiongroup==1.2.2
fail2ban==0.11.2
faiss-cpu
fastapi
filelock==3.6.0
firejail
flake8
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
google-auth==2.39.0
google-genai==1.13.0
gunicorn
gyp==0.1
h11==0.16.0
hidpidaemon==18.4.6
hnswlib
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools
httpx==0.28.1
httpx>=0.20.0,<0.28.0
idna==3.3
impacket==0.9.24
importlib-metadata==4.6.4
influxdb==5.3.1
iniconfig==2.1.0
iotop==0.6
itsdangerous==2.2.0
jeepney==0.7.1
jmespath==0.10.0
jsonschema
jsonschema==3.2.0
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.3.2
langchain
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.8.1
ldapdomaindump==0.9.3
llama-cpp-python
lockfile==0.12.2
louis==3.20.0
lxml
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
markdown-it-py==3.0.0
matplotlib==3.5.1
mdurl==0.1.2
more-itertools==8.10.0
motor
mpmath==0.0.0
msgpack==1.0.3
netaddr==0.8.0
netifaces==0.11.0
nltk
ntlm-auth==1.4.0
numpy
numpy==2.2.5
oauthlib==3.2.0
olefile==0.46
ollama
openai
packaging==24.2
pandas
paramiko
pillow==11.2.1
pipx==1.7.1
platformdirs==4.3.7
pluggy==1.5.0
ply==3.11
pop-transition==1.1.2
prompt==0.4.1
prompt_toolkit==3.0.51
protobuf==3.12.4
psutil
psutil==7.0.0
pyOpenSSL==21.0.0
pyRFC3339==1.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pydantic
pydantic==2.11.4
pydantic_core==2.33.2
pydbus==0.6.0
pygtrie==2.5.0
pyinotify==0.9.6
pykerberos==1.1.14
pymacaroons==0.13.0
pymongo
pymongo==4.12.1
pyparsing==2.4.7
pyperclip==1.9.0
pyrsistent==0.18.1
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest
pytest==8.3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv
python-dotenv==0.19.2
python-gnupg==0.4.8
python-jose[cryptography]
python-multipart
python-slugify==8.0.4
python-xlib==0.29
pythran==0.10.0
pytz==2022.1
pywinrm==0.3.0
pyxdg==0.27
ranger-fm==1.9.3
repolib==2.2.1
repoman==1.4.0
requests
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
requests==2.31.0
requests==2.32.3
requests>=2.20.0
requests>=2.20.0,<3.0.0
resolvelib==0.8.1
rich
rich-argparse==1.7.0
rich-cli==1.8.0
rich-click==1.8.8
rich-rst==1.3.1
rich==12.6.0
rich>=13.0.0,<14.0.0
roman==3.3
rsa==4.9.1
s3transfer==0.5.0
scapy==2.6.1
scipy
scipy==1.8.0
selinux==3.3
sessioninstaller==0.0.0
setproctitle==1.2.2
shellingham==1.5.4
simplejson==3.17.6
six==1.16.0
sniffio==1.3.1
soupsieve==2.3.1
sqlite3
ssh-import-id==5.11
starlette
sympy==1.9
systemd-python==234
tenacity
text-unidecode==1.3
textblob
texttable==1.6.4
textual
textual==0.1.18
toml==0.10.2
tomli==2.2.1
tomli>=1.0.0,<3.0.0; python_version < '3.11'
tomli>=1.0.0; python_version < '3.11'
torch>=2.0.0
transformers>=4.40.0
trash-cli==0.17.1.14
typer==0.15.3
typer[all]>=0.9.0,<0.13.0
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.10.0
unicodedata2==14.0.0
up==0.2.1
urllib3==1.26.5
userpath==1.9.2
uv==0.7.2
uvicorn
uvicorn[standard]
uvloop
virtualenv==20.13.0+ds
wadllib==1.3.6
watchdog
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.2.3
websockets
websockets==15.0.1
wxPython==4.2.3
xdg==5
xkit==0.0.0
xmltodict==0.12.0
xonsh-direnv==1.6.5
xonsh==0.19.3
zipp==1.0.0
